/* global rules */
* {
  padding: 0;
  margin: 0;
}

:root {
  --mainColor: #5775ff;
  --secondColor: #99acff;
}

body {
  background-color: #fbfbfb;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -120vw;
  top: 0;
  background-color: rgba(255, 255, 255, 0.452);
}

.overlay.active {
  z-index: 99;
  left: 0;
}

.settingIcon {
  transition: all 0.4s ease;
}

.settingIcon.active {
  transform: rotate(360deg);
  transition: all 0.4s ease;
}

img.border-radius {
  border-radius: 25px;
}

img {
  object-fit: cover;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgb(153, 153, 153);
}

.appHeader {
  max-height: 90px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.owl-item {
  padding: 0 20px;
  max-height: 550px;
  margin-right: 30px;
  overflow-y: auto;
}

.owl-stage {
  display: flex;
}

.owl-nav {
  position: relative;
  top: 15px;
  z-index: 89;
}

.owl-nav button {
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 50px;
  color: white;
  background: linear-gradient(to top, #2f53f4 21%, #617eff 79%);
  position: absolute;
  left: 25%;
}

.owl-nav button:last-of-type {
  left: 70%;
}

.owl-nav button span {
  position: absolute;
  bottom: 40%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.owl-dots {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  right: 5%;
  padding: 20px 0;
  overflow-x: hidden;
}

.owl-theme .owl-dots .owl-dot {
  outline: none;
  background: transparent;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 50%;
  border-color: transparent;
  position: relative;
  display: none;
  z-index: 80;
}

.owl-theme .owl-dots .owl-dot.active,
.owl-theme .owl-dots .owl-dot:hover {
  background: white;
  box-shadow: 1px 6px 15px 1px #cfcfcf;
  display: block;
}

.owl-theme .owl-dots .owl-dot.standBy {
  background: transparent;
  box-shadow: none;
  display: block;
}

.owl-theme .owl-dots .owl-dot.showDots::before {
  content: ".......";
  position: absolute;
  top: 35%;
  right: -90%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

.title {
  color: var(--mainColor);
}

.accordion {
  width: 100%;
}

.accordion-body {
  padding: 0 !important;
}

.chapters .accordion-item {
  background-color: transparent;
  border: none;
  position: relative;
}
.chapters .accordion-item::before {
  content: "";
  position: absolute;
  width: 85%;
  left: 8%;
  bottom: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
}

.chapters .accordion-button,
.chapters .accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none !important;
  border: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  color: var(--mainColor);
  font-size: 12px;
}

.chapters .accordion-button:focus {
  background-color: transparent !important;
  border-color: rgba(0, 0, 0, 0.3);
}

.accordion-button::after {
  content: unset !important;
}

.accordion-button.collapsed::before,
.accordion-button::before {
  content: unset !important;
}

.accordion-button span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--mainColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-button.collapsed span .innerCircle,
.accordion-button:not(.collapsed) span .innerCircle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  transition: all 0.3s ease;
  opacity: 0;
}

.accordion-button.collapsed:hover .innerCircle {
  background-color: rgba(100, 135, 250, 0.514);
  opacity: 1;
}

.accordion-button:not(.collapsed) .innerCircle {
  background-color: var(--mainColor);
  opacity: 1 !important;
}

/*Global rules ends*/

/* left side  */
aside,
main {
  box-shadow: 1px 6px 15px 1px #cfcfcf;
  border-radius: 18px;
  background-color: white;
}

aside {
  position: fixed;
  left: 10px;
  top: 5px;
  width: 27%;
  max-height: 650px;
  overflow: auto;
  padding: 0 !important;
  transition: all 0.4s ease;
  z-index: 999;
}

aside header,
aside .exam {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 15px;
}

aside header p,
aside .exam button {
  width: 70%;
  height: 45px;
  font-size: 15px;
  font-weight: 400;
  background: linear-gradient(to top, #2f53f4 21%, #617eff 79%);
  box-shadow: 1px 6px 15px 1px #cfcfcf;
  color: white;
  border-radius: 12px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside .exam button {
  border-radius: 30px;
  width: 60%;
  height: 35px;
}

aside .exam button a {
  color: white;
  font-size: 15px;
}

aside .accordion-header {
  width: 85%;
  margin: 0 auto;
}

aside .accordion a {
  color: black;
  flex: 1;
}

aside .accordion li {
  padding: 5px 30px 5px 50px;
  transition: all 0.3s ease;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside .accordion ul li:hover {
  background-color: var(--secondColor);
}

aside .accordion ul li .pageNum {
  min-width: 10px;
  padding-right: 16px;
}

/* left side ends */

/* main content start */
article {
  position: relative;
  left: 30%;
  top: 0px;
  width: 70%;
}

article header .user {
  width: 150px;
}

article header .user i {
  font-size: 35px;
  margin: 0 15px;
}

article main {
  padding: 20px 10px 20px 20px;
}

article main p {
  padding-left: 20px;
}

article main ul {
  padding-left: 40px;
}

.chapter {
  color: black;
  text-align: center;
  padding: 10px;
}

.viewType {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.viewType p {
  padding: 0;
  margin: 0 12px;
}

.viewType > div {
  background-color: whitesmoke;
  padding: 15px;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: all 0.4s ease;
}

.viewType > div.active {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: none;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.viewType .reading {
  flex: 6;
}

.viewType .video {
  flex: 6;
}

.programContent {
  position: relative;
}

.info {
  padding-left: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.toggleMenu {
  display: none;
  color: white;
}

.pageNavigation {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 15;
}

.pageNavigation .pageNumber {
  display: flex;
  margin: 0 35px;
}

.pageNavigation .pageNumber p {
  margin: 0 5px;
}

@media screen and (max-width: 1200px) {
  aside .accordion ul li a,
  aside .accordion button {
    font-size: 11px;
  }
}

@media screen and (max-width: 990px) {
  article {
    left: 0;
    width: 100%;
  }

  aside {
    width: 50vw;
    left: -100vw;
    border-radius: 12px;
  }
  aside header p {
    height: 40px;
    font-size: 15px;
    border-radius: 8px;
    text-align: center;
  }

  aside .exam button {
    height: 40px;
    border-radius: 10px;
  }

  aside .exam {
    padding-top: 0;
  }

  aside .exam button a {
    font-size: 15px;
  }

  aside.active {
    width: 50vw;
    left: 0;
    z-index: 999;
  }

  .owl-nav {
    padding: 0;
  }
}
